@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(215, 209, 209);
}
header{
   
    width: 100vw;
   
}
header > h1{
    padding: 10px;
    text-align: center;
}
menu{
    display: none;
}

span#burguer{
    background-color: rgb(75, 74, 74);
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
}

span#burguer:hover{
    background-color: white;
    cursor: pointer;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid black;
     background-color: rgba(85, 84, 84, 0.762);
}

menu > ul > li > a:hover{
    background-color: gray;
}
main{
   width: 90vw;
   background-color: white;
   margin: auto;
   margin-top: 10px;
   padding: 10px;
   border-radius: 10px;
   
   

}
article > h1{
    margin-bottom: 20px;
   
}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
